@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the Aeonik font */
@font-face {
    font-family: 'Aeonik';
    src: url('./fonts/Aeonik-Regular.woff2') format('woff2'),
         url('./fonts/Aeonik-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }

  /* Define the Neue Haas Grotesk Display Pro font */
@font-face {
  font-family: 'Neue Haas Grotesk Display Pro';
  src: url('./fonts/Neue\ Haas\ Grotesk\ Display\ Pro.woff2') format('woff2'),
       url('./fonts/Neue\ Haas\ Grotesk\ Display\ Pro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}


  /* Apply Aeonik font globally */
body {
    font-family: 'Aeonik', sans-serif;
  }

  body {
    @apply font-aeonik;
  }
  